<ion-tabs>
  <ion-tab-bar slot="bottom" class="button-container">
    <ion-tab-button class="button1" tab="tab1" href="/tabs/tab1">
      <ion-icon class="icon1" name="information-circle-outline"></ion-icon>
      <ion-label>INFO PMB</ion-label>
    </ion-tab-button>

    <ion-tab-button class="button1" tab="tab2" href="/tabs/tab2">
      <ion-icon class="icon1" name="wallet-outline"></ion-icon>
      <ion-label>Fee</ion-label>
    </ion-tab-button>

    <ion-tab-button class="button1" tab="tab3" href="/tabs/tab3">
      <ion-icon class="icon1" name="id-card-outline"></ion-icon>
      <ion-label>Pendaftaran</ion-label>
    </ion-tab-button>
    <ion-tab-button class="button1" tab="tab4" href="/tabs/tab4">
      <ion-icon class="icon1" name="file-tray-full-outline"></ion-icon>
      <ion-label>Data</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
